.item {
  box-sizing: border-box;
  padding: 5px;
  /* border: 1px solid #ccc; */
  margin-bottom: -2px;
}
.itemContent {
  display: flex;
}
.item h3 {
  font-size: 16px;
  margin-bottom: 10px;
  overflow: hidden; /*有这个text-overflow才可以生效*/
  white-space: nowrap;
  text-overflow: ellipsis; /*三个点省略*/
}
.itemContent p {
  color: #999;
  font-size: 14px;
  line-height: 26px;
  height: 73px;
  overflow: hidden;
  flex: auto;
}
.itemContent img {
  float: auto;
  width: 100px;
  height: 73px;
}
.title {
  font-size: 28px;
  font-weight: 600;
}
@media screen and (max-width: 500px) {
  .detailImg {
    height: auto;
    width: auto;
  }
}
@media screen and (min-width: 500px) {
  .detailImg {
    height: auto;
    width: 500px;
  }
}
.user {
  margin-top: 10px;
  line-height: 50%;
}
.user .username {
  margin-top: 60px;
  margin-left: 80px;
  font-size: 16px;
  font-weight: 600;
}
.user .date {
  margin-left: 80px;
  font-size: 12px;
  font-weight: 200;
}
.user img {
  float: left;
  margin-left: 10px;
  margin-top: -10px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.fix {
  content: "";
  visibility: hidden;
  clear: both;
}
.listoryHeader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  box-shadow: 3px 3px 5px 1px #d1cfcf;
  background-color: white;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
.listoryHeader button {
  float: right;
}
.detailHeader {
  height: 40px;
  box-shadow: 3px 3px 4px 1px #d1cfcf;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  line-height: 40px;
  font-size: 18px;
  z-index: 10;
}
.commentItem img {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.commentItem .username {
  margin-left: 60px;
  font-size: 15px;
  font-weight: 500;
}
.commentItem .comment_content {
  margin-left: 60px;
  font-size: 12px;
  font-weight: 200;
}
.pull {
  margin-top: 50px;
}
.line_01 {
  line-height: 1px;
  border: 190px solid #ddd;
}
